// src/assets/scss/_03-Componentes/_Comprobantes.scss

.comprobantes {
    // Añade tus estilos aquí
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  
    h2 {
      color: #333;
    }
  }
  