//---------contenedores header--------------------//

.gridPadreContacto1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Ajusta el tamaño mínimo
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  max-width: 1050px;
  padding: 10px;
  border-bottom: 2px solid #00f7ff7c;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .gridPadreContacto1 {
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Ajusta el tamaño mínimo en pantallas más pequeñas
  }
}

@media (max-width: 480px) {
  .gridPadreContacto1 {
    padding: 5px; // Reducir padding para móviles
    gap: 5px; // Reducir el espacio entre elementos
    margin: 0; // Eliminar margen para una mejor adaptación en móviles
  }
}


//---------logo header--------------------//

.contact-logo-rede-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 20px;
  border-radius: 10px;
  background: transparent;
}

@media (max-width: 768px) {
  .contact-logo-rede-container {
    gap: 5%; // Ajustar el espacio entre elementos en tabletas
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .contact-logo-rede-container {
    gap: 5px; // Reducir el espacio entre elementos en móviles
    padding: 10px;
  }
}

//---------logo main--------------------//

.logo-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 0px;
  width: 100%; // Asegura que el contenedor ocupe todo el ancho disponible
  max-width: 600px; // Aumenta el ancho máximo para permitir una mejor visualización
  background: transparent; // Asegura un fondo blanco para un mejor contraste
}

@media (max-width: 768px) {
  .logo-column {
    max-width: 300px; // Ajustar el ancho máximo en tabletas
  }
}

@media (max-width: 480px) {
  .logo-column {
    max-width: 100%; // Asegura que el contenedor se ajuste al ancho del dispositivo
    padding: 10px; // Reducir el padding en móviles
  }
}

.logo-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-main:hover {
  transform: scale(1.1);
}

//---------logo secondary--------------------//

.logo-secondary-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; // Ajusta el espacio entre imágenes secundarias
  justify-content: center;
}

.logoPuchulita {
  width: 180px; // Ajusta el tamaño de la imagen principal para destacarla
  height: auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  position: relative;
  z-index: 10; // Asegura que la imagen principal esté en el frente
}

@media (max-width: 768px) {
  .logoPuchulita {
    width: 120px; // Ajustar el tamaño de la imagen principal en tabletas
  }
}

@media (max-width: 480px) {
  .logoPuchulita {
    width: 100px; // Ajustar el tamaño de la imagen principal en móviles
  }
}

.logo-secondary {
  width: 80px; // Ajusta el tamaño de las imágenes secundarias
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
  .logo-secondary {
    width: 70px; // Ajustar el tamaño de las imágenes secundarias en tabletas
  }
}

@media (max-width: 480px) {
  .logo-secondary {
    width: 60px; // Ajustar el tamaño de las imágenes secundarias en móviles
  }
}

//---------contact icons--------------------//

.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.contact-item {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: transparent;
  border: #ffffff40 solid 1px;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.contact-item:hover {
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.356);
}

  
@media (max-width: 768px) {
  .contact-icons {
    padding: 15px; // Ajustar el padding en tabletas
  }
}

@media (max-width: 480px) {
  .contact-icons {
    padding: 10px; // Reducir el padding en móviles
  }
}

.contact-item {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: transparent;
  border: #ffffff40 solid 1px;
  color: #ffffff;
  font-size: 14px; // Reducir el tamaño de fuente en móviles
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; // Reducir el espacio entre icono y texto en móviles
  transition: color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
  .contact-item {
    font-size: 16px; // Ajustar el tamaño de fuente en tabletas
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .contact-item {
    font-size: 14px; // Reducir aún más el tamaño de fuente en móviles
    gap: 8px; // Reducir el espacio entre icono y texto en móviles
  }
}

.contact-item a {
  color: #ffffff;
  text-decoration: none;
}

.contact-item i {
  font-size: 18px; // Ajustar el tamaño del ícono
}

@media (max-width: 768px) {
  .contact-item i {
    font-size: 20px; // Ajustar el tamaño del ícono en tabletas
  }
}

@media (max-width: 480px) {
  .contact-item i {
    font-size: 18px; // Ajustar el tamaño del ícono en móviles
  }
}


//---------transparent hr--------------------//

.transparent-hr {
  border: none; /* Elimina el borde predeterminado */
  height: 1px; /* Ajusta la altura según el grosor deseado */
  background-color: transparent; /* Color de fondo con transparencia (ajusta el valor según sea necesario) */
  margin: 10px 0; /* Espaciado superior e inferior */
}
