// Estilos generales para DataInfoCuentas
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0px 40px rgba(255, 255, 255, 0.658);

  h2 {
    font-size: 14px;
    color: #00fbff;
    margin-bottom: 10px;
  }

  .data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1200px;
  }

  .data-item {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgb(0, 238, 255);
    display: flex;
    flex-direction: column;
    min-width: 0;
    font-size: 10px;

    h3 {
      font-size: small;
      color: #00fbff;
      margin-bottom: 5px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 8px;

      td {
        padding: 2px 4px;
        border: 1px solid #444;
        color: #fff;
      }

      td:first-child {
        font-weight: bold;
      }
    }

    a {
      color: #00fbff;
      text-decoration: none;
      font-weight: bold;
      display: block;
      margin-top: 5px;
      border: 1px solid #00fbff;
      padding: 2px 4px;
      border-radius: 3px;
      text-align: center;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #00fbff;
        color: #333;
      }
    }
  }
}

// Estilos para la barra de búsqueda y filtros
.search-filter-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 5px;
  padding: 10px 50px;
  background-color: transparent;
  border-radius: 20px;
  margin-bottom: 10px;
  align-items: center;
  
  // Fila superior: botones de categoría
  .category-buttons {
    grid-column: span 4;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 0px;
    flex-wrap: wrap; // Permite que los botones se envuelvan en pantallas pequeñas

    button {
      background-color: #395353;
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 6px 14px;
      font-size: small;
      cursor: pointer;
      color: white;
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;
      margin: 2px; // Añadir margen para evitar desbordamiento

      span {
        position: relative;
        z-index: 1;
      }

      &.selected {
        background-color: #137565;
        color: #fff;
      }

      &:hover {
        background-color: #0e8286;
        color: #fff;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
      }

      &:hover::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  // Fila inferior: filtros
  .filters {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;

    select {
      background-color: #ffffff;
      border-radius: 12px;
      padding: 5px 10px;
      font-size: x-small;
      transition: border-color 0.3s;

      &:hover,
      &:focus {
        border-color: #00fbff;
        outline: none;
      }
    }
  }
}

// Estilos para la barra de búsqueda
.search-bar {
  padding: 0px;
  background-color: #218a81;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 238, 255);

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 10px;
    font-size: small;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    }
  }
}

// Media Queries para dispositivos tablet y móviles
@media (max-width: 768px) {
  .data-container {
    grid-template-columns: 1fr; // Una tabla por fila en tabletas
  }
}

@media (max-width: 480px) {
  .data-container {
    grid-template-columns: 1fr; // Una tabla por fila en móviles
  }
}
