//---------footer--------------------//

footer {
  border-radius: 30px;
  color: rgb(255, 222, 253);
  width: 100%; 
  padding: 10px;
  border-top: 2px solid #00f7ff7c;
}

//---------contenedor principal del footer--------------------//

.gridPadreFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px; // Limita el ancho máximo del contenedor del footer
  padding: 50px;
  margin: 0 auto;
}

//---------contenido del footer--------------------//

.footerContentFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; // Asegura que el contenido ocupe todo el ancho del contenedor
}

//---------elementos del footer--------------------//

.ElementsFooter {
  display: flex;
  justify-content: space-between; // Distribuye las columnas con espacio entre ellas
  text-align: center;
  width: 100%;
  margin-bottom: 20px; // Añadimos un margen inferior para separar las filas
}

//---------columnas del footer--------------------//

.columnaFooter {
  flex: 1; // Cada columna ocupa el mismo ancho
  display: flex;
  flex-direction: column;
  align-items: center;
}

//---------imágenes y enlaces--------------------//

.imagenPublicidadFooter2 {
  transition: transform 0.3s ease;
  border-radius: 50px;
  padding: 0;
  
  &:hover {
    transform: scale(1.1);
  }
}

.imgFooter1 {
  height: auto;
  width: 100%; // Ajusta el ancho de las imágenes
  padding: 20px;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}

.imagenFooter1 {
  width: 60%;
}

//---------sección de derechos de autor--------------------//

.trademarkFooter {
  text-align: center;
  margin-top: 0px;
  padding: 0px;
}

//---------enlaces a redes sociales--------------------//

.linksFooter {
  display: flex;
  flex-direction: column; // Cambiar a columna para pantallas pequeñas
  justify-content: center;
  margin: 0;
}

.linksFooter div {
  list-style: none;
  margin-bottom: 10px; // Añadir margen inferior para separar los enlaces
}

//---------estilos de texto y animaciones--------------------//

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

.tituloImportanteFooter4 {
  font-size: small;

  a {
    color: inherit; /* Asegura que el color del enlace herede el color del contenedor */
    text-decoration: none; /* Elimina el subrayado del enlace */
    cursor: pointer; /* Asegura que el cursor se convierta en una mano al pasar sobre el enlace */
  }
}

.textoMovimientoFooter {
  transition: transform 0.3s ease;

  &:hover {
    animation: shake 0.5s ease;
  }
}

//---------estilos responsivos--------------------//

@media (max-width: 768px) {
  .ElementsFooter {
    flex-direction: column; // Cambia a columna para pantallas pequeñas
    align-items: center;
  }

  .columnaFooter {
    margin-bottom: 20px; // Añade margen inferior entre columnas en pantallas pequeñas
  }
}
