footer {
  border-radius: 30px;
  color: rgb(255, 222, 253);
  width: 100%; 
  padding: 10px;
  border-top: 2px solid rgba(0, 247, 255, 0.49); // Corregido valor rgba
}

.gridPadreFooter {
  display: flex;
justify-content: center;
  align-items: center;
  max-width: 1080px; // Limita el ancho máximo del contenedor del footer
  padding: 20px;
  margin: 0 auto;
}

.footerContentFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; // Asegura que el contenido ocupe todo el ancho del contenedor
}

.ElementsFooter {
 display: flex;
justify-content: center;
  align-items: center;
}

.columnaFooter {
  flex: 1; // Cada columna ocupa el mismo ancho
  display: flex;
  flex-direction: column;
  align-items: center;

}

.imagenPublicidadFooter2 {
  transition: transform 0.3s ease;
  border-radius: 50px;
  padding: 0px;
}

.imagenFooter1 {
  width: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// .dividerFooter {
//   padding: 10px;
//   border-bottom: 5px solid #00f7ff;
//   border-radius: 30px;
//   width: 100%;
// }

.trademarkFooter {
  text-align: center;
  margin-top: 0px;
  padding: 0px;
  
}

.linksFooter {
  display: flex;
  flex-direction: column; // Cambiar a columna para pantallas pequeñas
  font-size: small;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  // Completa la animación según sea necesario
}

// Estilos responsivos
@media (max-width: 768px) {
  .ElementsFooter {
    flex-direction: column; // Cambia a columna para pantallas pequeñas
  }
}
