.pagados {
  padding: 20px;

  h2 {
    color: #00fbff;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .lista-cuentas {
    display: flex;
    flex-direction: column;
    gap: 10px; // Espacio entre ítems de la lista

    .cuenta-item {
      display: flex; // Utilizamos flexbox para alinear en una sola fila
      align-items: center; // Alinea los elementos verticalmente al centro
      background-color: #1e1e1e;
      padding: 10px; // Espacio interno alrededor del contenido
      border-radius: 5px;
      border: 1px solid #00f7ff;
      overflow: hidden; // Asegura que el contenido no se desborde
      justify-content: space-between; // Espacio equilibrado entre elementos

      // Espaciado entre elementos
      span {
        color: #fff;
        font-size: 14px; // Ajustamos el tamaño del texto
        white-space: nowrap; // Evita que el texto se rompa en varias líneas
        margin-right: 10px; // Espacio entre los elementos
      }

      .importe-pagado {
        color: #46f781;
      }

      .factura-pagada {
        cursor: default;
        font-size: 16px;
        color: #3cff00;
        display: inline-block;
        padding: 2px 5px; // Padding para dar espacio alrededor del texto
        border-radius: 5px;
      }

      button {
        background-color: #ff4b4b;
        color: #fff;
        border: none;
        padding: 5px 15px; // Padding mayor para un botón más grande
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px; // Tamaño del texto en el botón
        margin-left: 10px; // Espacio a la izquierda del botón para separación
      }
    }
  }
}
