// Estilos generales del componente GastosPorPagar
.por-pagar {
  padding: 20px;

  h2 {
    color: #00fbff;
    font-size: 24px;
    margin-bottom: 20px;

    .mes-corriente {
      color: #fff45d;  // Color blanco para el mes
      text-transform: uppercase;  // Texto en mayúsculas
      border-bottom: 1px solid #00f7ff;  // Recuadro en la parte inferior
      border-right: 1px solid #00f7ff;  // Recuadro en el lado derecho
      border-radius: 50%;  // Bordes redondeados
      padding: 10px;  // Espaciado dentro del recuadro
    }
  }

  .lista-cuentas {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .cuenta-header, .cuenta-item {
      display: grid;
      grid-template-columns: 60px repeat(7, 1fr);  // Columna ID fija y otras columnas flexibles
      gap: 2px;
      align-items: center;
      background-color: #1e1e1e31;
      padding: 2px;
      border-radius: 5px;
      border: 1px solid #00f7ff;
    }

    .cuenta-header {
      background-color: #040c3a;  // Fondo para la fila de encabezado
      color: #cffffd;  // Texto blanco
      text-transform: uppercase;
      padding: 15px;
      font-size: 12px;
      border: 1px solid #00ff6267;
      grid-template-columns: 60px repeat(7, 1fr);  // Asegura el mismo diseño que la fila de datos
    }

    .cuenta-item {
      background-color: #1e1e1e;  // Fondo para las filas de datos
      color: #fff;  // Texto blanco
      font-size: 12px;

      span {
        white-space: nowrap;
        text-align: center;  // Centrar el texto en cada celda
        overflow: hidden;  // Ocultar el contenido que exceda el ancho
        text-overflow: ellipsis;  // Mostrar puntos suspensivos si el texto excede el ancho
      }

      .id-col {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
        max-width: 60px;
        text-align: center;
        margin-left: 10px;  // Ajusta este valor para mover el contenido hacia la derecha
      }
      

      .input-container {
        display: flex;
        align-items: center;
        justify-content: center;  // Centrar el contenido dentro de la celda

        span {
          margin-right: 5px;
        }

        input {
          width: 80px;
          text-align: center;  // Centrar el texto dentro del campo de entrada
        }
      }

      button {
        background-color: #00f7ff;  // Color del botón
        color: #032027;  // Color del texto del botón
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
        margin: 0 2px;

        &:hover {
          background-color: #00c7cc;  // Color del botón al pasar el ratón
        }
      }

      .importe-pagado {
        font-weight: bold;
      }

      .bloqueado {
        background-color: #005255;
      }
    }
  }

  button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00f7ff;
    color: #032027;
    cursor: pointer;

    &:hover {
      background-color: #00c7cc;
    }
  }
}
