.por-pagar {
  padding: 20px;

  h2 {
    color: #00fbff;
    font-size: 24px;
    margin-bottom: 20px;

    .mes-corriente {
      color: hsl(0, 0%, 100%);
      text-transform: uppercase;
      border-bottom: 1px solid #ffffff;
      border-right: 1px solid #defeff;
      border-radius: 50%;
      padding: 10px;
    }
  }

  .lista-cuentas {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .cuenta-header,
    .cuenta-item {
      display: grid;
      grid-template-columns: 60px repeat(7, 1fr);
      gap: 2px;
      align-items: center;
      background-color: transparent;
      padding: 2px;
      border-radius: 5px;
         }

    .cuenta-header {
      background-color: #040c3a67;
      color: #cffffd;
      text-transform: uppercase;
      padding: 15px;
      font-size: 12px;
          grid-template-columns: 60px repeat(7, 1fr);
    }

    .cuenta-item {
      background-color: #064d5291;
      color: #fff;
      font-size: 12px;

      span {
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .id-col {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
        max-width: 60px;
        text-align: center;
        margin-left: 10px;
      }

      .importe-pagado {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          color: #c9f7ff;
          font-size: 16px;
          margin-right: 5px;
        }

        input {
          width: 60px;
          padding: 2px;
          font-size: 12px;
          text-align: right;
          background-color: #ffffff;
          color: #000000;
            border-radius: 5px;
        }
      }

      button {
        background-color: #05063879;
        border: none;
        padding: 5px;
        cursor: pointer;
        color: #ffffff;
                font-size: 12px;
        transition: background-color 0.3s;
        border-radius: 5px;

        &:hover {
          background-color: #00fbff54;
        }
      }

      &.bloqueado {
        background-color: #333;
        pointer-events: none;
        opacity: 0.7;

        span {
          color: #888;
        }
      }
    }
  }
}
