//---------Header Container--------------------//

.header {
  display: grid;
  grid-template-columns: (1fr);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: small;
  border-bottom: 2px solid #00f7ff7c;
  border-radius: 30px;
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // Centrar contenido
    width: 100%;
    gap: 0px;
    text-align: center;
  }
}

//---------Date Container--------------------//

.date-container {
  display: flex;
  align-items: center;
  margin: 0px;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    display: none;
  }
}

.date-text {
  white-space: nowrap; // Evita el salto de línea dentro del contenedor
  font-size: x-small;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;

  &:hover {
    color: rgb(196, 244, 231);
  }

  span {
  }
}

//---------Auth Buttons--------------------//

.auth-icon {
  font-size: 24px;
  color: #ffffff;
  transition: color 0.3s ease;
  margin: 0;

  &:hover {
    color: #00ddff;
  }
}


//-------------------------//
.iconoCalculadora{
  color: rgb(157, 189, 190);
  font-size: large;
}

//---------Logo Header--------------------//

.logoHeader {
  width: 100%;
  transition: transform 0.3s ease, filter 0.3s ease; // Agrega transición para otras propiedades si es necesario

  @media (max-width: 768px) {
    width: 200px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

//---------Navbar Header--------------------//

.navbar {
  display: flex;
  justify-content: space-between;
}

// Estilos para .navbar-nav
.navbar-nav {
  display: flex;
  align-items: center;
  font-size: small;
  gap: 38px; // Gap por defecto para pantallas grandes

  // Media queries para dispositivos móviles y tablets
  @media (max-width: 768px) {
    gap: 3px; // Gap para pantallas de tablet y móviles
  }
}


.navbarHeader {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.navbar-navHeader {
  display: flex;
  align-items: center;
  font-size: small;
  gap: 30px;

  @media (max-width: 768px) {
    display: none;
  }
}

//---------home y BOTONES--------------------//

.nav-linkHeader.home-link {
  text-align: center;
  color: #bbffe9;
  text-decoration: none;

  &:hover {
    color: rgba(255, 0, 217, 0.591);
  }
}

.textoMenu1 {
  font-size: small;
  color: #c8fcffe9;

  &:hover {
    color: #7de0f4;
  }
}

// Estilos generales para los enlaces de navegación
.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ffffff; // Color del texto de los enlaces

  &:hover {
    color: #00f7ff; // Color del texto en hover
  }
}

// Estilos específicos para el botón HOME
.home-link {
  color: #1abc9c; // Color turquesa

  &:hover {
    color: #00ff88; // Color del texto en hover
  }
}

// Estilos específicos para el botón NOTAS
.notas-link {
  color: #1abc9c; // Color turquesa
  font-size: small;

  &:hover {
    color: #00ff88; // Color del texto en hover
  }
}

// Estilos específicos para el botón CONTACTO
.contacto-link {
  // Puedes agregar estilos específicos para el botón CONTACTO aquí
}

// Estilos específicos para el botón TAREAS EN PROCESO
.tareas-link {
  color: #1abc9c; // Color turquesa
  font-size: small;

  &:hover {
    color: #00ff88; // Color del texto en hover
  }
}

//---------Contacto--------------------//

.nav-linkHeader {
  text-align: center;
  color: #bbffe9;
  text-decoration: none;

  &:hover {
    color: rgba(255, 0, 217, 0.591);
  }
}

.textoMenuTareas {
  color: #d5dfff;

  &:hover {
    color: #52cce7;
  }
}

.textoMenu {
  color: #ffffff;

  &:hover {
    color: #52cce7;
  }
}

.textoMenu2 {
  font-size: small;
  color: #ffffff;
}

//---------Navbar Toggler (Hamburguesa)--------------------//
.navbar-togglerHeader {
  border: none;
  background-color: white;
  color: white;
  font-size: xx-large;
  cursor: pointer;
  
  

  @media (min-width: 769px) {
    display: none;
    
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.menu-icon {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  

  @media (min-width: 769px) {
    display: none;
  }
}

//---------Menu Hamburguesa--------------------//

.menuCompleto {
  display: none;
  

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
  }

  &.open {
    display: flex;
    
  }
}

.mobile-menu {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    
  }

  &.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

//---------Notificaciones--------------------//

.headerNotificaciones {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: small;
  transition: color 0.3s ease;

  &:hover {
    color: #bbd0cd;
  }
}


.notifications-item {
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {

  }
}



//---------Elementos de NavBar--------------------//

.navbar-togglerHeader {
  border: none;
  background-color: white;
  color: white;
  cursor: pointer;
  

  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.menu-icon {
  color: #fff;
  font-size: xx-large;
  cursor: pointer;
  

  @media (min-width: 769px) {
    display: none;
  }
}

// Estilos para el botón de modo claro/oscuro
.dark-mode-toggle {
  padding: 0;
  margin: 0;


  // Mostrar solo en pantallas grandes
  @media (max-width: 768px) {
    display: none; // Oculta en tabletas y móviles
  }
}

// Puedes agregar estilos específicos para el botón en modo de escritorio aquí
.dark-mode-toggle {
  font-size: large;
}
