.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background: linear-gradient(135deg, #10534b11, #0e896212);
  border-bottom: 2px solid #00f7ff7c;
  border-radius: 30px;
  padding: 0px;
  margin: 0px;
  // box-shadow: 0 0 20px rgba(250, 250, 250, 0.15);
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  align-items: center;
  padding: 0 20px;
}

.logo-column {
  display: flex;
  justify-content: start;
}

.logoHeader {
  
  width: 100%; /* Ajusta el tamaño según tus necesidades */
  transition: transform 0.3s ease;

  &:hover {
    // transform: scale(1.1);
  }
}

.navbarHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-navHeader {
  display: flex;
  align-items: center;
  font-size: large;
  gap: 30px;
}

.nav-linkHeader {
  text-align: center;
  color: #bbffe9;
  text-decoration: none;

  &:hover {
    color: rgba(255, 0, 217, 0.591);
  }
}

.textoMenu {
  // font-weight: bold;
  color: #ffffff;

&:hover {
  color: #52cce7;
}}


.textoMenu1 {
  font-size: x-large;
  // font-weight: bold;
  color: #84f9ffa4;
  
  &:hover {
    color: #7de0f4;
  }}


.textoMenu2 {
  font-size: x-small;
  color: #9ac2ff;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: #c3dde2;
  }}

.auth-buttons-column {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  background-color: transparent;

  .nav-linkHeader {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.navbar-togglerHeader {
  border: none;
  background-color: transparent;

  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

@media (max-width: 768px) {
  .header-container {
    grid-template-columns: 1fr;
  }

  .logoHeader {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
  }

  .navbarHeader {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    z-index: 10;

    &.open {
      display: flex;
    }
  }
}
