.mainTareasEnProceso {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(252, 252, 252);
  overflow: hidden; // Evita que el contenido salga del contenedor

  // Estilos para el formulario de tareas
  .task-form {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 12px;
    margin: 0;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

    .form-group {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      label {
        margin-bottom: 6px;
        color: #ffffff;
        font-size: x-small;
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 8px;
        font-size: x-small;
        border: 1px solid #ddd;
        border-radius: 6px;
        background-color: #f9f9f9;
        box-sizing: border-box;
      }

      textarea {
        resize: vertical;
      }
    }

    .add-task-button {
      background-color: #188289;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: small;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #1d7184;
      }
    }
  }

  //----------CUADRADITOS COLORES----------//

  .color-options {
    display: flex;
    gap: 0.5rem;

    .color-option {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.selected {
        border: 2px solid black;
      }

      .color-check {
        color: white;
        font-size: 0.8rem;
      }
    }
  }

  // Estilos para las columnas de tareas----//

  .task-columns {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-size: small;
    gap: 3px;

    .task-column {
      flex: 1;
      max-width: 25%; // Limita el ancho máximo de las columnas al 25% del contenedor
      background-color: #0e4e5d;
      border-radius: 8px;
      padding: 5px;
      color: #fff;

      h2 {
        text-align: center;
        margin-bottom: 2px;
        color: #fff;
        font-size: medium;
      }

      .task-list {
        .task-list-container {
          display: flex;
          flex-direction: column;
          font-size: x-small;
          gap: 10px;
        }

        .task-item-actions {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          margin-top: 0.5rem;
        }

        .move-task-button,
        .delete-task-button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: large;
          color: #ffffff;
          transition: color 0.3s ease;
        }

        .task-item {
          display: flex;
          flex-direction: column;
          padding: 10px;
          border-radius: 8px;
          background-color: #1d3a42;
          color: #fff;
        }
      }
    }
  }
}
