.calendar-outer-container {
  display: flex; /* Cambiar de column a row para alinearlos uno al lado del otro */
  justify-content: space-between; /* Espacio entre los dos contenedores */
  align-items: flex-start; /* Alinear los elementos al inicio verticalmente */
  width: 100%;
  padding: 10px;
  background: transparent;
}

.calendar-container {
  width: 70%; /* Ajustar el ancho del calendario */

  padding: 20px;
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 0px 20px rgb(255, 255, 255);
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  button {
    background-color: #188289;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0e4e5d;
    }
  }

  h2 {
    margin: 0;
    color: #00fff2;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;

  .day {
    background: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    position: relative; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .date {
      display: block;
      font-weight: bold;
      color: #333;
    }

    .reminder-icon {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 0.75rem;
      color: #ff0000;
    }
  }

  .highlight {
    color: white;
    border-radius: 50%;
    border: rgb(30, 195, 187) solid 3px;
  }
}

.reminders-container {
  margin-top: 0px;
  margin-left: 20px;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 40px rgba(255, 255, 255, 0.74);
  max-width: 800px;
  width: 100%;

  h3 {
    margin-left: 10px;
    color: #00ffee;
    font-size: medium;
  }

  ul {
    list-style-type: disc; /* Asegúrate de que los puntos sean visibles */
    padding-left: 20px; /* Espaciado adecuado */
    color: #ffffff; /* Asegura que el texto sea visible */
    margin: 0; /* Elimina márgenes adicionales que puedan estar afectando */
    list-style-position: inside; /* Asegura que los puntos estén dentro del padding */
  }

  li {
    margin-bottom: 10px; /* Añade un margen para separar las filas */
    font-size: small;
    color: #ffffff;
  }

  p {
    color: #c4f5f8;
  }
}
