//---------contenedor principal--------------------//

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-bottom: 2px solid #00f7ff7c;
  border-radius: 30px;
}

//---------contenedor grid principal--------------------//

.gridContainerMainContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-template-rows: repeat(3, auto); /* 3 filas */
  gap: 20px; /* Espacio entre elementos */
  width: 100%;
  max-width: 1200px; /* Ajusta según sea necesario */
}

//---------items del grid--------------------//

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  // box-shadow: 0 0px 10px rgb(0, 217, 255);

  img {
    max-width: 100%;
    height: auto;
  }

  .calendarSectionMainContent {
    width: 100%;
    margin-top: 2rem;
    padding: 20px;
    background-color: #fff; /* Ajusta según sea necesario */
    border-radius: 10px;
    // box-shadow: 0 4px 80px rgb(255, 0, 0);
  }
}

//---------imágenes de publicidad--------------------//

.imagen-publicidadMainContent1 {
  width: 200px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    width: 150px;
  }
}

.imagen-publicidadMainContent2 {
  width: 500px;
  height: auto;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    width: 300px;
  }
}

.imagen-publicidadMainContent3 {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    max-width: 300px;
  }
}


//---------íconos de WhatsApp -------------------//

#telefonoWhatsappMainContent {
  position: fixed;
  bottom: 1px; 
  right: 1px;
  z-index: 1000; 
}

.logoWhatsappMainContent {
  width: 80px;   
  height: auto;  
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    width: 60px;
  }
}