.mainTareasEnProceso {
  // Estilos generales para el contenedor principal
  margin: 0;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 40px rgb(252, 252, 252);
  

  // Estilos para el formulario de tareas
  .task-form {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 12px;
    margin: 0;
    padding: 15px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

    .form-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 0 px;
      padding: 0px;

      label {
        margin-bottom: 6px;
        color: #ffffff;
        font-size: x-small;
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 8px;
        font-size: x-small;
        border: 1px solid #ddd;
        border-radius: 6px;
        background-color: #f9f9f9;
        box-sizing: border-box;
      }

      textarea {
        resize: vertical;
       width: auto;
        
      }
    }

    .add-task-button {
      background-color: #188289;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: small;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
     
      &:hover {
        background-color: #1d7184;
      }
    }
  }

//----------CUADRADITOS COLORES----------//

  .color-options {
    display: flex;
    gap: 0.5rem;

    .color-option {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.selected {
        border: 2px solid black;
      }

      .color-check {
        color: white;
        font-size: 0.8rem;
      }
    }
  }


  // Estilos para las columnas de tareas----//

  .task-columns {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-size: small;
    width: 100%;
    gap: 3px;

    .task-column {
      flex: 1;
      background-color: #0e4e5d;
      border-radius: 8px;
      padding: 5px;
      color: #fff;
      
      overflow-y: auto;

      h2 {
        text-align: center;
        margin-bottom: 2px;
        color: #fff;
        font-size: medium;
      }

      // Contenedor de la lista de tareas
      .task-list {
        .task-list-container {
          display: flex;
          flex-direction: column;
          font-size: x-small;
          gap: 10px;
        }

//-------------------botones de flechas y eliminar//

        .task-item-actions {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          margin-top: 0.5rem;
        }
        
        .move-task-button,
        .edit-task-button,
        .delete-task-button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: large;
          color: #ffffff; // Cambia el color según tu esquema de colores
          transition: color 0.3s ease;
        }

        // Estilos para cada tarea
        .task-item {
          display: flex;
          flex-direction: column;
          padding: 10px;
          border-radius: 8px;
          background-color: #1d3a42;
          color: #fff;

          .task-item-content {
            margin-bottom: 10px;
            padding: 8px;
            border: 1px solid #1d3a42;
            border-radius: 6px;
          }

          .task-item-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
              background: transparent;
              border: none;
              border-radius: 50%;
              color: #ddd;
              font-size: 20px;
              padding: 8px;
              cursor: pointer;
              transition: color 0.3s ease;

              &:hover {
                color: #fff;
              }
            }

            .move-left-button {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}


.textoDescripcion
{

  font-size: x-small;
}