.calculator-container {
  display: flex;
  background-color: transparent;
  box-shadow: 0 0px 20px rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6b6b6b;
  padding: 20px;
  border-radius: 10px;
  width: auto;
}

.calculator-display {
  width: 100%;
  background-color: black;
  padding: 20px;
  border-radius: 5px;

  .outer-display-container {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
  }

  .inner-display-container {
    background-color: #95a5a6;
    border-radius: 5px;
    padding: 10px;

    .display {
      width: 100%;
      height: 70px;
      background-color: #2c3e50;
      color: #ecf0f1;
      font-size: 20px;
      text-align: right;
      border: none;
      border-radius: 5px;
    }
  }
}

.buttonlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 56, 56);
  // border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  width: 100%;  /* Ocupa todo el espacio disponible del grid */
  height: auto; 
  overflow: hidden; /* Esconde cualquier parte de la imagen que sobresalga del botón */

  img {
    max-width: 60%;  /* Ajusta la imagen al 80% del ancho del botón */
    max-height: 50%; /* Ajusta la imagen al 80% de la altura del botón */
    object-fit: contain; /* Mantiene la proporción de la imagen */
  }
}

.calculator-buttons {
  margin-top: 20px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); // 6 columnas
  grid-template-rows: repeat(5, 1fr); // 5 filas
  gap: 5px;

  .button {
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    &.number {
      background-color: black;
      color: white;
    }

    &.operator {
      background-color: rgb(245, 245, 245);
      color: black;
    }

    &.special {
      background-color: #b1c5c7;
      color: black;
    }

    &.specialComa {
      background-color: #ffffff;
      color: black;
    }
  
    &.simbolocombinado {
      background-color: #ffffff;
      grid-row: span 2; // Hace que el botón ocupe el espacio de dos columnas
      color: black;
    }
   

    &.clear,
    &.on,
    &.off {
      background-color: orange;
      color: black;
    }
  }
}

.turnoffsound {
  background-color: #b1c5c7;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  font-size: 24px; /* Ajusta el tamaño del ícono según sea necesario */
  color: #000; /* Color del ícono */

  &::after {
    content: "";
    position: absolute;
    top: 50%; /* Posiciona la línea en el centro vertical */
    left: 0;
    right: 0;
    width: 100%;
    height: 1px; /* Grosor de la línea */
    background-color: red; /* Color de la línea de tachado */
    transform: rotate(45deg) translateY(-50%); /* Rota y centra la línea */
  }
}


.calculator-history {
  width: auto; /* Ancho mayor para el historial */
  background: transparent;
  color: #ffffff;
  padding: 15px;
  border-left: 10px solid #818181;
  margin-left: 10px;
  border-radius: 20px;
  overflow-y: auto;
  height: auto;
  font-size: 0.9rem; /* Ajuste del tamaño de la fuente */

  h3 {
    text-align: center;
    color: rgb(0, 247, 255);
    text-decoration: underline;
    margin-left: 20px;
  }

  .history-list {
    list-style-type: circle;
    padding-left: 0;
    color: #ffffff;

    .history-item {
      margin-left: 5px;
      border-bottom: 1px solid #acacac;
        padding: 5px;

    }
  }
}
