.rentas-info-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0px 40px rgba(255, 255, 255, 0.658);

  .filter-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;

    button {
      background-color: #246e6e62;
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 3px 5px;
      font-size: small;
      cursor: pointer;
      color: white;
      transition: all 0.3s ease;

      &.selected,
      &:hover {
        background-color: #00fbff;
        color: #333;
      }
    }
  }

  .data-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    max-width: 1200px;

    @media (min-width: 769px) {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  .data-item {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(0, 238, 255);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 100%;
    background-color: transparent;
    transition: transform 0.3s;


    h3 {
      font-size: medium;
      background-color: #00000050;
      color: #ffffff;
      margin-bottom: 5px;
      border: 1px solid #00ffff;
      border-radius: 10%;
      padding: 2px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 12px;

      td {
        padding: 5px 8px;
        border: 1px solid #1c4747;
        color: #fff;
      }

      td:first-child {
        color: #00ffdd;
        font-weight:100;
      }
    }

    .image-thumbnails {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 5px;

      .carousel {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          background-color: transparent;
          border: none;
          font-size: 20px;
          color: white;
          cursor: pointer;
          padding: 0 5px;
          transition: color 0.3s ease;

          &:hover {
            color: #00fbff;
          }
        }

        .thumbnail {
          width: 300px;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
      }

  .pdf-preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;

    .pdf-viewer {
      width: 90%;
      height: 90%;
      background: white;
      border: 1px solid #00fbff;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
    }

    button {
      background-color:transparent;
  color: #ffffff;
  margin-bottom: auto;
  border: none;
    padding: 20px;
  cursor: pointer;
  font-size: 70px; /* Ajusta el tamaño del ícono */
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {

    color: #00e1ff;
      }
    }
  }
}

.pdf-options {
  display: flex;
  justify-content: center; /* Centramos los botones */
  align-items: center;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 10px;

  button,
  a {
    background-color: #246e6e62; /* Fondo uniforme */
    border: 1px solid #00fbff;
    border-radius: 8px;
    padding: 10px 20px; /* Tamaño consistente para ambos */
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    min-width: 150px; /* Mismo ancho mínimo */
    transition: all 0.3s ease;

    &:hover {
      background-color: #0b6f70;
      color: #ffffff;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



//modal

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    position: relative;
    display: flex;
    align-items: center;

    .large-image {
      max-width: 90%;
      max-height: 90%;
      border-radius: 8px;
    }

    .close-button,
    .prev-button,
    .next-button {
      background: transparent;
      border: none;
      color: white;
      font-size: 30px;
      cursor: pointer;
      padding: 10px;

      &:hover {
        color: #00fbff;
      }
    }

    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .prev-button {
      left: 10px;
    }

    .next-button {
      right: 10px;
    }
  }
}
