// src/assets/scss/_03-Componentes/_Sidebar.scss

.sidebar {
  // Estilos para el contenedor del Sidebar
  width: auto;
  background-color: transparent;
  border-right: 4px solid #00f7ff7c;
  border-radius: 10px;
  // background: linear-gradient(135deg, #10534b11, #0e896212);
//   border-bottom: 3px solid #00ff9d;
  border-radius: 30px;
  padding: 0px 60px;
  margin: 0px;

  h2 {
    font-size: medium;
    color:  #00f7ffc6;
    margin-bottom: 10px;
  }

  ul {
    // list-style: none;
    padding: 0px;

    li {
        font-size: small;
      margin: 0px;
      color: #ffffff;

      // Estilos para los enlaces dentro del Sidebar
      a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
         color: rgb(0, 170, 255);
        }
      }
    }

    hr {
      margin: 10px 0;
    }
  }
}
