//---------contenedor del sidebar--------------------//

.sidebar {
  width: 200px; // Ancho fijo para el sidebar
  background-color: transparent;
  border-right: 4px solid #00f7ff7c;
  border-radius: 30px;
  padding: 0px 20px; 
  margin: 0px;
  flex-shrink: 0;

  //---------títulos h2--------------------//

  h2 {
    font-size: small;
    color: #00f7ffc6;
    margin-bottom: 5px;
  }

  //---------lista sin estilos--------------------//

  ul {
    padding: 0px;

    //---------elementos de la lista (li)--------------------//

    li {
      font-size: x-small;
      margin: 0px;
      color: #ffffff;

      //---------enlaces (a)--------------------//

      a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          color: rgb(0, 255, 204);
        }
      }
    }

    //---------líneas horizontales (hr)--------------------//

    hr {
      margin: 10px 0;
    }
  }
}
