

/* Añadir un reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------Estilos Globales--------------*/

html {
  font-size: 100%; // Establece el tamaño de fuente base.
  margin-top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden; // Ocultar desbordamiento horizontal.
}

/*--------------Estilos Body--------------*/

body {
  // background-color: rgb(110, 109, 109);
  background: linear-gradient(#033640, #580202f4);
  // background-repeat: repeat;
  // background-position: center;
  // background-size: cover;
  // background-attachment: fixed;
  // overflow-x: hidden; 
  // font-family: "Bona Nova SC", serif;
  font-family: "Chelsea Market", system-ui;
  // text-transform: uppercase;
  //  font-family: "Gupter", serif;
}

// Modo claro
body {
  background-color: #ffffff;
  color: #c23939;
}

// Modo oscuro
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}


/*--------------Estilos para el Contenedor Principal--------------*/

.app {
  font-family: 'Arial, sans-serif';
  // background-color: #f5f5f5;
  padding: 2em;
}

.app {
  transition: background-color 0.3s;

  &.dark-mode {
    background-color: #121212;
    color: #fff;
  }
}



.main-content {
  display: flex;
  gap: 2em;
}

.content {
  flex-grow: 1;
}

/*--------------Estilos para los Encabezados y Texto--------------*/

p {
  color: rgb(0, 0, 0); // Color del texto de los párrafos.
  font-size: medium; // Tamaño de fuente mediano.
  padding: 20px;
}

h1 {
  color: rgb(255, 255, 255); // Color del texto de los encabezados de nivel 1.
  font-size: xx-large; // Tamaño de fuente extra grande.
}

h2 {
  color: rgb(116, 30, 52); // Color del texto de los encabezados de nivel 2.
  font-size: large; // Tamaño de fuente grande.
}

h3 {
  color: rgb(224, 205, 190); // Color del texto de los encabezados de nivel 3.
  font-size: medium; // Tamaño de fuente mediano.
}

h4 {
  color: rgb(224, 205, 190); // Color del texto de los encabezados de nivel 4.
  font-size: small; // Tamaño de fuente pequeño.
}

h5 {
  color: rgb(224, 205, 190); // Color del texto de los encabezados de nivel 5.
  font-size: x-small; // Tamaño de fuente extra pequeño.
}

h6 {
  font-size: xx-small; // Tamaño de fuente extra extra pequeño.
}

/*--------------Estilos para Listas--------------*/

li {
  // list-style-type: none;
  // list-style-type: circle;
  list-style-type: none;  
}

ol {
  list-style-type: circle; // Tipo de lista ordenada con círculos.
    // list-style-type: none;
}

td {
  color: rgb(86, 50, 50); // Color del texto en las celdas de tabla.
}

/*--------------Estilos para Enlaces--------------*/

a {
  &:link {
    color: rgb(0, 255, 221);
    text-decoration: none; // Sin subrayado para los enlaces.
  }

  &:visited {
    color: rgba(112, 255, 219, 0.842);
    text-decoration: none; // Sin subrayado para los enlaces visitados.
  }

  &:hover {
    animation: shake 0.5s ease; // Animación de sacudida al pasar el cursor sobre los enlaces.
  }
}

/* Animación de sacudida */
@keyframes shake {
  0% { transform: translateX(0); }
  50% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
