* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------Estilos Globales--------------*/

html {
  font-size: 100%; // Establece el tamaño de fuente base.
  margin-top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden; // Ocultar desbordamiento horizontal.
}

/*--------------Estilos Body--------------*/

body {
  font-family: "Chelsea Market", system-ui;

  &.dark-mode {
    color: #ffffff;
    background: linear-gradient(#033640, #580202f4);
  }

  &.light-mode {
    background: linear-gradient(#2c88ff, #e43bc8);
    color: #333; // Texto en color oscuro para el modo claro.
  }
}

/*--------------Estilos para el Contenedor Principal--------------*/

.app {

  padding: 2em;
  transition: background-color 0.3s;

  &.dark-mode {
    color: #fff;
  }

  &.light-mode {
    color: #333; // Texto en color oscuro para el contenedor principal en modo claro.
  }
}

.main-content {
  display: flex;
  gap: 2em;
}

.content {
  flex-grow: 1;
}

/*--------------Estilos para los Encabezados y Texto--------------*/

p {
  font-size: medium; // Tamaño de fuente mediano.
  padding: 20px;
  color: rgb(0, 0, 0); // Color del texto de los párrafos.

  body.dark-mode & {
    color: #ffffff; // Color de texto en modo oscuro.
  }

  body.light-mode & {
    color: #000000; // Color de texto en modo claro.
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

h1 {
  font-size: xx-large; // Tamaño de fuente extra grande.

  body.dark-mode & {
    color: #ffffff; // Color de texto en modo oscuro.
  }

  body.light-mode & {
    color: #000000; // Color de texto en modo claro.
  }
}

h2 {
  font-size: large; // Tamaño de fuente grande.

  body.dark-mode & {
    color: rgb(255, 255, 255); // Color de texto en modo oscuro.
  }

  body.light-mode & {
    color: #000000; // Color de texto en modo claro.
  }
}

h3,
h4,
h5 {
  body.dark-mode & {
    color: rgb(224, 205, 190); // Color de texto en modo oscuro.
  }

  body.light-mode & {
    color: #4a4a4a; // Color de texto en modo claro.
  }
}

h6 {
  font-size: xx-small; // Tamaño de fuente extra extra pequeño.
  color: rgb(252, 252, 252); // Color de texto en modo oscuro.
}

/*--------------Estilos para Listas--------------*/

li {
  list-style-type: none;
}

ol {
  list-style-type: circle; // Tipo de lista ordenada con círculos.
}

td {
  body.dark-mode & {
    color: rgb(55, 165, 156); // Color del texto en las celdas de tabla en modo oscuro.
  }

  body.light-mode & {
    color: #000000; // Color del texto en las celdas de tabla en modo claro.
  }
}

/*--------------Estilos para Enlaces--------------*/

a {
  &:link,
  &:visited {
    text-decoration: none; // Sin subrayado para los enlaces.

    // body.dark-mode & {
    //   color: rgb(0, 255, 221); // Color de los enlaces en modo oscuro.
    // }

    body.light-mode & {
      color: #000000; // Color de los enlaces en modo claro.
    }
  }

  &:hover {
    animation: shake 0.5s ease; // Animación de sacudida al pasar el cursor sobre los enlaces.
  }
}

/* Animación de sacudida */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
